.main-layout {
  display: flex;
  flex-direction: column;
  height: 200vh; 
  overflow: hidden;
}

.layout-content {
  display: flex;
  flex: 1;
  margin-top: 60px; 
  position: relative;
}

.sidebar-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  
}


.content {
  flex: 1;
  overflow: auto;
  padding: 20px;
  margin-left: 0px; 
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f4f6f9; 
  height: calc(100vh - 68px); 
  position: relative;
}

.stats-table th, .stats-table td, .stats-table tr {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
}


.unauthorized {
  color: red;
  text-align: center;
  padding: 20px;
}


