.main-layout {
  display: flex;
  flex-direction: column;
  height: 200vh; 
  overflow: hidden;
}

.layout-content {
  display: flex;
  flex: 1;
  margin-top: 60px; 
  position: relative;
}

.sidebar-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 250px;
  height: calc(100vh - 60px); 
  color: white;
  position: fixed;
  top: 68px; 
  left: 0;
  z-index: 999;
  background-color: #1976D2; 
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); 
}

.content {
  flex: 1;
  overflow: auto;
  padding: 20px;
  margin-left: 250px; 
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f4f6f9; 
  height: calc(100vh - 68px); 
  position: relative;
}

.stats-table th, .stats-table td, .stats-table tr {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
}


.admin .sidebar {
  background-color: #1565C0;
}

.student .sidebar {
  background-color: #0288D1;
}

.unauthorized {
  color: red;
  text-align: center;
  padding: 20px;
}

.stats-table th, tr, td{
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
}
